*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans serif;
}
h1{
	font-weight: bold;
	font-size: 77px;
	color: #ffffff;
}
h2{
	font-weight: bold;
	font-size: 36px;
	color: #333;
}
p{
	font-size: 18px;
	color: #333;
}
h3{
	font-weight: bold;
	font-size: 30px;
	color: #fff;
}
#header{
	height: 799px;
	/*background-color: red;*/
	background-image: url(../images/intro-bg.jpg);
	background-size: cover;
	background-attachment: fixed;
}
.content{
	height: 1065px;
	margin: 0 auto;
	background-color: red;
}
.section{
		overflow: hidden;
}
.left{
		float: left;
		width: 500px;
}
.right{
		float: left;
		width: 500px;	
}