*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Arial, Helvetica, sans-serif;
}
h1{
	font-weight: bold;
	font-size: 72px;
	color: #ffffff;
}
h2{
	font-weight: bold;
	font-size: 36px;
	color: #333;
}
h3{
	font-weight: bold;
	color: #fff;
	font-size: 30px;
}
p{
	font-size: 18px;
	color: #333;
}
#header{
	height: 799px;
	/*background-color: lightblue;*/
	background-image: url(../images/intro-bg.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
}
.content{
	width: 1065px;
	margin: 0 auto;
}
.section{
	overflow: hidden;
}
.left{
	float: left;
	width: 500px;
}
.right{
	float: left;
	width: 500px;	
}
#footer{
	height: 531px;
	background-image: url(../images/banner-bg-u146-fr.jpg);
	-webkit-background-size: cover;
	background-size: cover;
	background-attachment: fixed;
	text-align: center;
}
#footer h2{
	color: #ffffff;
	float: left;
	margin-top: 248px;
}
#footer ul{
	float: right;
	margin-top: 248px;	
}
#twitter{
	background-image: url(../images/tw.png);
}