body{
	font-size: 30px;
	background-image: url(images.jpg);
	background-repeat: no-repeat;
	/*background-repeat: repeat-x;*/
	background-position: right; top;
	background-attachment: fixed;
}

h1{
	text-align: center;
	/*text-transform: capitalize;*/
	/*text-transform: lowercase;*/
	/*text-transform: uppercase;*/
	/*text-transform: none;*/
}
h2{
	text-decoration: overline;
}
a{
	text-decoration: none;
}
p{
	/*font-family: 'Montserrat' cursive ;*/
	/*font-weight: 100;*/
	/*font-style: italic;*/
	text-indent: 25px;
	/*line-height: 2em;*/
	/*letter-spacing: 2em;*/
	word-spacing: 50px;
}
div{
	font-family:'Niramit' cursive ;
}
ul{
	/*list-style-type: disc;*/
	/*list-style-type: square;*/
	/*list-style-type: decimal;*/
	/*list-style-type: armenian;*/
	/*list-style-type: decimal-leading-zero;*/
	/*list-style-type: lower-latin;*/
	list-style-type: lower-roman;
	list-style-image: url(horse.jpg);
 }